body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
}

.navbar {
  width: 100%;
  padding: 15px;
  background: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}
